  <div th:fragment="Footer">

      <div class="footer_title">This project made by:</div>
      <div class="footer">
      <div class="container">

    <div class="footer_authors">

          <div class="footer_author">
                <div class="footer_Img"><img src="" th:src="@{/styles/img/Ivan.png}" alt=""></div>
                <div class="footer_Name">Iriskin Ivan</div>
            </div>
          <div class="footer_author">
                <div class="footer_Img"><img src="" th:src="@{/styles/img/Dima.png}" alt=""></div>
                <div class="footer_Name">Barvinok Dmitriy</div>
          </div>
          <div class="footer_author">
                <div class="footer_Img"><img src="" th:src="@{/styles/img/Bakha.png}" alt=""></div>
                <div class="footer_Name">Ramazanov Bakhdaulet</div>
                </div>
  </div>
          </div>
      </div>
  </div>